.dashboard{
    margin-top: 9%;
}

.dashboardCircle{
    height: 180px;
    width: 180px;
    border-radius: 200px;
    border: 1px solid white;
}

@media  (max-width: 688px){
    .circleContainer{
        overflow-x: scroll;
    }
    .circleContainer::-webkit-scrollbar{
        display: none;
    }
    .circleContainer{
        -ms-overflow-style: none;
    }

    .dashboard{
        margin-top:30%;
    }
}